*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    scroll-behavior:smooth;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color:rgb(13, 0, 15);
    overflow-x: hidden;
    font-family: Yrsa, sans-serif;
}

#home,
#sobre {
    scroll-margin-top: 120px;
}

/* Header */
.topo{
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    padding: 50px clamp(20px, 10vw, 200px) 30px;
    justify-content: space-between;
}

.idioma-button{
    font-size: 18px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}
.idioma-button:hover{
    color: rgb(163, 65, 255);
    font-size: 20px;
    transform: translate(1px , -5px);
    cursor: pointer;
    display: inline-block;
    position: relative;
    animation: aumentar 0.3s ease-in-out infinite alternate;
}
.menu-img{
    background: url(../assets/menu-button.png) no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: relative;
}
.menu-img:hover{
    transform: rotate(45deg);
    transition: all 0.2s ease;
    cursor: pointer;
}

.menu-img.active:hover{
    transform: rotate(90deg);
}
.menu-links{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    text-align: right;
    width: min(600px, 40vw);
    height: 100dvh;
    z-index: 999;
    
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translateX(100%);
    background-color: rgb(70, 0, 77);
    justify-content: center;
    gap: clamp(15px, 3vh, 40px);

}
.menu-links.active{
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
.close-img{
    background: url(../assets/menu-close.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    transform: rotate(135deg);
    align-self: flex-end;
    margin: 30px 30px 30px auto;
    flex-shrink: 0;
}
.close-img:hover{
    transform: rotate(90deg);
}

.menu-links a{
    font-family: "Sekuya", system-ui;
    text-align: right;
    text-decoration: none;
    color:blueviolet;
    font-size: clamp(35px, 5vw, 80px);
    font-weight: 600;
    padding: 5px 20px;
    display: inline-block;
    position: relative;
    opacity: 0;
}
.menu-links a.active{
    animation: entrarDeCima 0.5s forwards;
}

.menu-links a:nth-child(2) { animation-delay: 0.3s; }
.menu-links a:nth-child(3) { animation-delay: 0.4s; }
.menu-links a:nth-child(4) { animation-delay: 0.5s; }
.menu-links a:nth-child(5) { animation-delay: 0.6s; }

.menu-links a:hover{
    color: rgb(102, 0, 197);
    font-size: clamp(30px, 4vw, 70px);
    padding: 5px 70px 5px 20px;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons-header{
    display: flex;
    align-items: center;
    gap: clamp(15px, 5vw, 80px);
}

/*fim header*/

/* Sessão Home */

.home{
    width: 100%;
    min-height: calc(100dvh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.home h1{
    font-size: clamp(30px, 4vw, 50px);
    font-weight: 300;
    font-family: "Cormorant Garamond", serif;
    color:rgb(255, 255, 255);
}
.home .nome{
    max-width: 100%;
    overflow-wrap: break-word;
    font-family: "Oswald", sans-serif;
    font-size: clamp(35px, 5vw, 60px);
    font-weight: 600;
    color:blueviolet;
    cursor:default;
}
.home .nome span {
    display: inline-block;
    position: relative;
    color: blueviolet; 
    transform: translateY(0); 
    transition: all 2s ease-out; 
}
.home .nome:hover > span{
    animation: subirDescer 0.5s ease-in-out infinite alternate, colorChange 0.9s ease-in-out infinite alternate, aumentar 0.3s ease-in-out infinite alternate;
    transition: all 2s ease-out;
}

.home p{
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 400;
    font-family: "Yrsa", sans-serif;
    color:rgb(255, 255, 255);
}
.home .btn-projetos{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: blueviolet;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    
}
.btn-projetos span{
    color: blueviolet;
    font-size: 20px;
    font-weight: 400;
    font-family: "Yrsa", sans-serif;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-out;
}
.btn-projetos:hover > span{
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding: 0 0.5px;
    animation: aumentar 0.3s ease-in-out infinite alternate;
    transition: all 0.3s ease-out;
}

/* Fim da sessão Home */

/* Sessão Sobre*/

.sobre{
    width: 100%;
    min-height: 100dvh;
    color:white;
    justify-content: center;
    align-items:center;
    display: flex;
}
.sobre-container{
    width: 70%;
    height: 500px;
    text-align: left;
    justify-self: center;
}
.titulos-sobre{
    display: flex;
    position: relative;
    align-items: flex-end;
    z-index: 1;
}
.titulos-sobre::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 3px;
    background-color: rgb(163, 65, 255);
}
.titulo-sobre{
    color:blueviolet;
    font-size: clamp(25px, 6vw, 50px);
    padding-bottom: 10px ;
    border:3px solid rgb(163, 65, 255);
    border-right: 0;
    border-radius: 10px 10px 0 0;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    transition: all 0.5s ease;
     z-index: 3;
     background: none;
}
.titulo-objetivo{
    color:blueviolet;
    font-size: clamp(25px, 6vw, 50px);
    padding-bottom: 10px ;
    border:3px solid rgb(163, 65, 255);
    border-left: 0;
    border-radius: 10px 10px 0 0;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
     z-index: 3;
     transition: all 0.5s ease;
     background: none;
}

.titulo-sobre:hover, .titulo-objetivo:hover, .titulo-sobre.active:hover, .titulo-objetivo.active:hover{
    color: white;
    
}

.titulo-sobre.active {
    color: white;
    background: linear-gradient(rgb(198, 0, 216), rgb(231, 169, 169));
    padding: 20px;
    border-right: 3px solid rgb(163, 65, 255);
}
.titulo-objetivo.active{
    color: white;
    background: linear-gradient(rgb(198, 0, 216), rgb(231, 169, 169));
    padding: 20px;
    border-left: 3px solid rgb(163, 65, 255);
}

.conteudo {
    display: none;
    font-size: 18px;
    padding-top: 40px;
    line-height: 30px;
    width: 90%;
    white-space: pre-line;
}

.conteudo.active {
    display: block;
}
/* Fim da Sessão sobre*/
/* Animações */

@keyframes entrarDeCima {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes subirDescer {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-2px);
    }
}
@keyframes colorChange{
    from {
        color: blueviolet;
    }

    to {
        color: rgb(234, 0, 255);
    }
}
@keyframes aumentar {
    from {
        padding: 0px 0px;
    }

    to {
        padding: 0px 1px;
    }
    
}
/* Fim das animações */

/*Media Queris*/

@media screen and (max-width: 800px) {
    .topo{
        min-height: 120px;
        padding: 40px 20px;
}

.idioma-button{
    font-size: 18px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}
.menu-img.active{
    transform: rotate(180deg);
}

    .close-img {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 80px;
        right:25px;
        transform: rotate(180deg);
        margin: 0;
    }

.menu-links{
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    right: 0;
}

.menu-links a{
    font-size: clamp(35px, 12vw, 70px);
    font-weight: 500;
    padding: 5px 20px;
}

.menu-links a:hover{
    font-size: clamp(30px, 11vw, 60px);
    padding-right: 10px;
}
.buttons-header{
    gap: 30px;
}
.btn-projetos span{
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding: 0 0.5px;
    animation: aumentar 0.3s ease-in-out infinite alternate;
    transition: all 0.3s ease-out;
}
.sobre-container{
    width: 80%;
    height: 85%;
    text-align: left;
    justify-self: center;
}



}

@media screen and (max-width:600px) {

        .topo{
        position: fixed;
    }
    
        .close-img {
        top: 75px;
        right:20px;
    }

    .home .nome {
        display: block;
        padding-bottom: 10px;
    }
    .home .nome > span{
    animation: subirDescer 0.5s ease-in-out infinite alternate, colorChange 0.9s ease-in-out infinite alternate, aumentar 0.3s ease-in-out infinite alternate;
    transition: all 2s ease-out;
}

.sobre{
    min-height: 100dvh;
    height: auto;
}
.sobre-container{
    width: 100%;
    height: auto;
    text-align: center;
    justify-self: center;
}

.titulos-sobre{
    align-items: center;
    flex-direction: column;
}
.titulo-objetivo, .titulo-sobre{
    width: 100%;
    border: 3px solid rgb(163, 65, 255);
    border-radius: 0;
    padding: 10px;
}
.titulo-objetivo{
    border-top: none;
}
.conteudo {
    padding: 30px 20px 0 20px;
    line-height: 30px;
    width: 100%;
}
}

/*Fim das Queris*/
